@using WorkSchedulePlaner.Application.DTOs
@model EmployeeDto

<div class="card">
	<div class="card-header text-center">
		<h3 class="card-title">Update Employee</h3>
	</div>
	<div class="card-body">
		<form method="post" class="row">
			<div class="form-floating mb-2">
				<input class="form-control" id="floatingName" asp-for="Name" />
				<label for="floatingName" class="ms-2">First Name</label>
			</div>
			<div class="form-floating mb-2">
				<input class="form-control" id="floatingLastName" asp-for="LastName" />
				<label for="floatingLastName" class="ms-2">Last Name</label>
			</div>
			<div class="form-floating mb-2">
				<input class="form-control" id="floatingPosition" asp-for="Position" />
				<label for="floatingPosition" class="ms-2">Position</label>
			</div>
			<div class="form-floating mb-2">
				<input class="form-control" id="floatingEmail" asp-for="Email" />
				<label for="floatingEmail" class="ms-2">Email</label>
			</div>

			<input type="hidden" asp-for="Id" value="@Model.Id" />
			<input type="hidden" asp-for="ScheduleId" value="@Model.ScheduleId" />

			<div class="row d-flex justify-content-center gap-3">
				<div class="col-4">
					<button class="btn btn-success w-100" type="submit">
						<i class="bi bi-plus-circle"></i>
						Update
					</button>
				</div>
				<div class="col-4">
					<a class="btn btn-danger w-100" asp-controller="Schedule" asp-action="Details"
					   asp-route-id="@Model.ScheduleId">
						<i class="bi bi-x-circle"></i>
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</div>